*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
col- {
  width: 100%;
}

.container {
  width: 100%;
  margin: auto;
}
.row {
  margin: 0;
}
.result-row {
  width: 100%;
}
.search-result {
  width: 70%;
  margin: auto;
}
div h3 {
  margin: 10px;
  margin-bottom: 20px;
  font-size: 35px;
  letter-spacing: 0.35em;
}
.panel-body .imp {
  border: 2px solid;
  height: auto;
  margin: 3px;
}
panel .imp {
  float: left;
  /* width: 100%; */
}
.results {
  margin-top: 0;
  margin-left: 325px;
}
